<%- model_class = @client.class -%>
<h1><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                               :default => "Nieuwe klant") %></h1>
<%= render :partial => 'form' %>
