@import "bootstrap-sprockets";
@import "bootstrap";
@import "AdminLTE";
@import "skins/skin-blue-light";

body{
  background-color: #ecf0f5;
}

.wrapper {
  position: relative;
  background-color: #ecf0f5 !important;
}

.content-wrapper {
  min-height: 100vh !important;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 30px;/* Footer height */
}


footer.main-footer{
  height: 50px;
  margin-top: -50px;
  width: 100%;
  z-index: 200;
}

.skin-blue-light .sidebar-menu > li:hover > a, 
.skin-blue-light .sidebar-menu > li.active > a {
  background: #eaeaea !important;
}

label {
  min-width: 5em;
}

.invoice-line-controls {
  margin-top: 19px;
}
.invoice-line-controls > .field {
  margin-top: 8px;
  margin-left: 10px;
}

.invoice-line-controls > .btn {
  margin-top: 5px;
  margin-left: 10px;
}

.link_to_add_fields {
  margin-bottom: 10px;
  margin-top: 10px;
}
