<footer class="main-footer">
  <div class="pull-right hidden-xs">
    Written in Ruby on Rails 
  </div>
  <strong>
    Copyright © <%= DateTime.now.year %>
    <a href="http://www.sitweb.eu"> SIT bvba</a>
  </strong>
  All rights reserved.
</footer>
